
.latestone{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #b0d8e6;
    border-radius: 10px;
}
.latestone p{
    box-sizing: border-box;
    height:40px;
    margin:0px;
    /* z-index: 0; */
}
.latestone:hover{
    opacity: 1;
}
.start{
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}