.latestone:hover{
    width:100%;
    background-color: rgb(209, 250, 236);
   
}
.latestone{
    /* visibility:hidden; */
    position: relative;
    /* z-index: 0; */
    top:-100px;
    display: inline-block;
}
.latestone p{
    box-sizing: border-box;
    height:40px;
    margin:0px;
    /* z-index: 0; */
}
