img{
    width: 100%;
    position:block;

}
.beda{
    width: 40;
}

i
.divseconds {
    position: absolute;
    left: 31px;
    top: 227px;
    width: 40%;
    color: lavender;
    font-weight: 700;
    font-size: 1.1rem;

}